# ==============================
# AMBIENTE PYTHON (CRÍTICO)
# ==============================
.venv/
venv/
.env

__pycache__/
*.pyc
*.pyo
*.pyd

# ==============================
# BANCO LOCAL - NUNCA NO GIT
# ==============================
data/*.db
data/*.db-wal
data/*.db-shm
data/**/*.db

# ==============================
# IDEs
# ==============================
.idea/
.vscode/

# ==============================
# BACKUPS E LIXO
# ==============================
*.zip
*_backup*
_backup_original/

# ==============================
# LOGS
# ==============================
*.log

# Windows
Thumbs.db
